torch==2.6.0
torch-geometric==2.6.1
torchsummary==1.5.1
torchvision==0.21.0
transformers==4.47.0
peft==0.14.0
numpy
scikit-learn
pandas
tqdm
plotly
libauc
ignite
huggingface-hub
matplotlib
seaborn
scipy
ipython
datasets